* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#container{
    background: #f4f3ef;
    overflow-x: hidden;
}

/* video */
#video-head {
    width: 100vw;
}

/* logo Navbar */
.logo {
    width: 18vw;
    margin-left: 2vh;
    margin-top:1vh;
    position: relative;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar.ativo {
    background: #FBAA01;
}

/* Painel Links Navbar */
nav {
    position: relative;
    padding: 2.5%;
    float: right;
    text-align: right;
}

/* Links navbar */
a {
    font-size: 2vw;
    color: #f4f3ef;
    padding: 1vw;
    text-decoration: none
}

/* Todo conteudo da pagina */
#material {
    text-align: center;
    position: relative;
    padding: 2%;
}
  
/* Titulos */
h2{
    font-size: 3vw;
    font-weight: 400;
    text-shadow:2px 5px 10px #FBAA01;
}


/* Criações (imagens) */
#img2 {
   width: 70vw;
}

#img2:hover{
    background: cinza;
    transition: 0.5s;
    opacity: 0.7;
}

/* Logo Clientes */

.calibre {
    width: 15vw;
    background: #FBAA01;
}

.heineken {
    width: 15vw;
    background: #FBAA01;
}

.laser {
    width: 15vw;
    background: #FBAA01;
}

.luxtel {
    width: 15vw;
    background: #FBAA01;
}

.secret {
    width: 15vw;
    background: #FBAA01;
}

.suavidad {
    width: 15vw;
    background: #FBAA01;
}

/* Footer (barra de contatos) */
#contacts {
    position:static;
    text-align: center;
    background: #FBAA01;
    color:#f4f3ef;
}

.contatos {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Icones */
#iWhats {
    width: 3vw;
}

#iInsta {
    width: 3vw;
}

#iFacebook {
    width: 3vw;
}

#iYoutube {
    width: 3vw;
}

#iEmail {
    width: 3vw;
}

@media screen and ( min-width: 600px) { 
    
    #img2 {

        height: 70vh;
        width: 45vw;
    }
}

@media screen and ( max-width: 600px) {

    h2{
        font-size: 6vw;
        font-weight: 400;
    }

}