* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

#container {
    background: #f4f3ef;
    overflow-x: hidden;
}

/* video */
#video-head {
    width: 100vw;
}

/* logo Navbar */
.logo {
    width: 18vw;
    margin-left: 2vh;
    position: relative;
}

/* Navbar */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar.ativo {
    background: #FBAA01;
}

/* Painel Links Navbar */
nav {
    position: relative;
    padding: 2.5%;
    float: right;
    text-align: center;
}

/* Links navbar */
a {
    font-size: 2vw;
    color: #f4f3ef;
    padding: 1vw;
    text-decoration: none
}

/* Todo conteudo da pagina */
#page {
    text-align: center;
    padding-bottom: 2vh;
}

/* espaçamemtos das sections */
section {
    padding-bottom: 3vh;
    padding-top: 3vh;
}
  
/* Titulos */
h2 {
    margin-bottom: 3vh;
    font-size: 3vw;
    font-weight: 400;
    /* text-shadow:2px 5px 10px #FBAA01; */
    padding: 2vh;
    background: #FBAA01;
}

/* tamanho de fonte dos paragrafos */
p {
    font-size: 2vw;
}

/* Criações (imagens) */
#imgInt1 #imgInt2 #imgInt3 #imgInt4 #imgInt4 
#imgInt5 #imgInt6 #imgInt7 #imgInt8 #imgInt9 #imgInt10{
    width: 65vw;
}
    /* Sobreposição e alteração de imagens  JS */
.disp {
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#slider {
    height: 80vh;
    width: 40vw;
    position: relative;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

#slider img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}

/* Logo Clientes */
.logos {
    width: 15vw;
    padding-left: 4vh;
}

/* Footer (barra de contatos) */
#contacts {
    position:static;
    text-align: center;
    background: #FBAA01;
    color:#f4f3ef;
}

.contatos {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Icones */
.Iconescont {
    width: 3vw;
}

/*Ajuste de tela */
@media screen and ( min-width: 600px) { 
    
    #slider img{

        height: 80vh;
        width: 40vw;
    }
}

@media screen and ( max-width: 600px) {

    h2{
        font-size: 6vw;
        font-weight: 400;
    }

    #slider img{
        width: 80vw;
        height: 70vh;
    }
}